<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>directives</title>
</head>
<!-- note: there is no ng-app directive -->
<body ng-app='App' ng-controller='MainCtrl as mainCtrl'>
	<h3>Directive: clock</h3>
	<clock format="HH:mm:ss"></clock>
	<h3>Directive: template</h3>
	<div my-customer></div>
	<h3>Directive: templateUrl</h3>
	<div my-cousin-vinny></div>
	<h3>Directive: link function</h3>
	<div the-clicker>Click Me!</div>
    <hr>
	<h3>Directive: data binding</h3>
	<div>Mirror: <input ng-model="lipstick">
		<span class="mirror"></span>
	</div>
	<h3>Directive: data binding</h3>
	<div>flip it: <input ng-model="desi">
		<span class="flipIt"></span>
		<span>{{flipped}}</span>
	</div>

<br/><br/>

  <div ng-init="amount = 10"></div>
  <bank ng-model="amount"></bank>
  {{ amount | currency}}



	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src='js/main.js'></script>
	<script src='js/directives.js'></script>
</body>
</html>
