<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>directives</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<!-- note: there is no ng-app directive -->
<body ng-app='App' ng-controller='MainCtrl as mainCtrl'>
	<h1>Directive Examples</h1>
	<h3>clock</h3>
	<div><clock format="HH:mm:ss"></clock></div>

	<h3>using a template</h3>
	<div my-customer></div>
	<h3>using an external template</h3>
	<div my-cousin-vinny></div>

	<h3>the link function</h3>
	<div the-clicker>click me</div>

	<h3>data binding</h3>
	<div>Mirror: <input ng-model="lipstick">
		<span class="mirror"></span>
	</div>

	<h3>data binding</h3>
	<div>flip it: <input ng-model="desi" ng-change='change()'>
		<span class="flipIt"></span>
		<span>{{flipped}}</span>
	</div>

	<h3>data binding - ng-change</h3>
	<my-directive-x ng-model="boo" ng-change="mainCtrl.fubar(boo)"></my-directive-x>
	<div>boo current value : {{boo}}</div>

	<h3>data binding</h3>
	<p>click to choose</p>
	<my-directive ng-model="foo" items=mainCtrl.items ng-change="mainCtrl.bar(foo)"></my-directive>

	<h3>data binding</h3>
	<div>foo current value : {{foo}}</div>
	<div>value of boo/foo via controller scope: {{mainCtrl.aux}} </div>

	<h3>data binding</h3>
	<div ng-init="amount = 10"></div>
	<bank ng-model="amount"></bank>
	<div>{{ amount | currency}}</div>

	<h3>controller scope</h3>
		<p ng-click="mainCtrl.reverseName()">Hey {{mainCtrl.name}}, Click me to reverse your name</p>
		<div reverse-parent class='directive'></div>

	<div ng-controller='SubCtrl'>

		<h3>local scope</h3>
		<p ng-click="reverseName2()">Hey {{name2}}, Click me to reverse your name in controller scope.<br/>
		<small>the input box below is the directive's local scope that got inherited from the<br/>
		controller scope. changing it breaks the tie with the controller scope.</small></p>
		<div reverse-local class='directive'></div>

	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src='js/main.js'></script>
	<script src='js/directives.js'></script>
</body>
</html>
