<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Angular Messages Patterns</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="MessagesApp">

	<div class='container' ng-controller='msgCtrl as msgCtrl' >
		<h3>profile info</h3>
		<form name="myForm" class="myForm" required>

		<div>
			<label>name</label>
			<input type="text" name="userName" placeholder="name" ng-model="firstName" required />
			<ng-messages for="myForm.userName.$error" ng-if="myForm.userName.$touched">
				<ng-message when="required">name is required</ng-message>
			</ng-messages>
		</div>
		<div>
			<label>email</label>
			<input type="email" name="userEmail" placeholder="email" ng-model="email" required />
			<ng-messages for="myForm.userEmail.$error" ng-if="myForm.userEmail.$touched">
				<ng-message when="required">an email address is required</ng-message>
				<ng-message when="email">your email address is invalid</ng-message>
			</ng-messages>
		</div>
		<div>
			<label>phone</label>
			<input type="text" name="userPhone" placeholder="phone number" ng-model="phone"
					ng-pattern="/\(?([0-9]{3})\)?\-?\.?\ ?([0-9]{3})\-?\.?([0-9]{4})/"
			/>
			<ng-messages for="myForm.userPhone.$error" ng-if="myForm.userPhone.$touched">
				<ng-message when="required">a phone number is required</ng-message>
				<ng-message when="pattern">your phone number is invalid</ng-message>
			</ng-messages>
		</div>
		</form>

	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-messages.min.js"></script>
	<script>
		(function() {
			'use strict';

			angular
				.module('MessagesApp',['ngMessages']);

			angular
				.module('MessagesApp')
				.controller('msgCtrl', function(){} );
		})();
	</script>
</body>
</html>
