html, body { height: 100%; }
body {
	color: #333;
	padding: 20px;
}

/* --------------------------- rest calls --------------------------- */
.rest_results{
/*	height: 300px;*/
}
.rest_results i{
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.big_number {
	font-size: 160px;
	line-height: 120px;
	margin: 0px;
	color: #888;
}
.space {
	float: left;
	width: 260px;
}
